# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/


# Editor files
.vscode/
*.swp
*~

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
.env
